* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --index: calc(1vw + 1vh);
    --gutter: 30px;
    --size-small: 26;
    --size-big: 36;
    --deep: 4000px;
    --transition: .75s cubic-bezier(.075, .5, 0, 1);
}

@font-face {
    font-family: raleway_c;
    src: url(../fonts/raleway-v22-cyrillic-300.woff2);
    font-weight: 300;
}

@font-face {
    font-family: raleway_c;
    src: url(../fonts/raleway-v22-cyrillic-100.woff2);
    font-weight: 100;
}

body {
    background: black;
    color: white;
    font-size: calc(var(--index) * .8);
    font-family: raleway_c, sans-serif;
    line-height: 1.75;
    height: var(--deep);
    font-weight: 300;
}

.container {
    width: 100%;
    height: 100%;
    position: fixed;
    perspective: 1500px;
}

.gallery {
    transform-style: preserve-3d;
    height: 100%;
}

.frame {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--transition), opacity .75s ease;
    will-change: transform;
    transform-style: preserve-3d;
}

h1, h2, h3, h4 {
    font-weight: 100;
    text-transform: uppercase;
    width: min-content;
    line-height: 1;
}

.frame h2 {
    text-align: center;
    font-size: calc(var(--index) * 3.3);
}

.frame-media {
    position: relative;
    width: calc(var(--index) * var(--size-small));
    height: calc(var(--index) * var(--size-big));
    background-position: center;
    background-size: cover;
}

.frame-media_left {
    right: calc(var(--size-small) / 2 * var(--index) + var(--gutter));
}

.frame-media_right {
    left: calc(var(--size-small) / 2 * var(--index) + var(--gutter));
}

.frame_bg {
    background-color: rgba(0, 0, 0, .87);
}

video.frame-media {
    width: calc(var(--index) * var(--size-big));
    height: calc(var(--index) * var(--size-small));
}

video.frame-media_right {
    left: calc(var(--size-big) / 2 * var(--index) + var(--gutter));
}

video.frame-media_left {
    right: calc(var(--size-big) / 2 * var(--index) + var(--gutter));
}

.text-right > * {
    position: relative;
    left: 18vw;
}

.frame h3{
    font-size: calc(var(--index) * 3);
}

.frame p{
    max-width: 30vw;
    margin-top: 5vh;
}


.text-left > * {
    position: relative;
    right: 18vw;
}